@import "../../theme/variables";

.home {
  @include section;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

.bg-home {
  margin-top: 20px;
  width: 90%;
  min-height: 80vh;
  background-image: url(../../assets/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
