@import "../../theme/variables";

.home {
  @include section;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
}

.bg-home {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 78vh;
    width: 100%;
    object-fit: cover;
  }
}

//Clase para agregar animacion
// .img-fade {
//   animation: myAnim 1s ease 0s 1 normal forwards;
// }

// @keyframes myAnim {
//   0% {
//     transform: translateX(-5%);
//     opacity: 0;
//   }

//   100% {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }
