@import "../../theme/variables";

.nav {
  font-family: "Fredoka", sans-serif;
  width: 100%;
  height: 70px;
  padding: 0 6%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    cursor: pointer;
    color: $white;
    background-color: transparent;
    padding: 4px 8px;
    transition: 0.5s;
    border: 1px solid $white;
    &:hover {
      color: $black;
      background-color: $white;
      border: 1px solid $white;
      strong {
        color: $black;
      }
    }
  }
  h1 strong {
    transition: 0.5s;
    color: $beige;
  }
}

.menu-icon-container {
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid $white;
  background-color: transparent;
  .menu-icon {
    width: 25px;
    height: 25px;
    color: $white;
    transition: 0.5s;
  }
  &:hover {
    background-color: $white;
    color: $black;
    border: 1px solid $white;
    .menu-icon {
      color: $black;
    }
  }
}
