@import "../../theme/variables";

.gallery {
  @include section;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-album {
  width: 90%;
  padding: 4rem 0;
}
