@import "../../theme/variables";

.gallery {
  @include section;
  background-image: url("../../assets/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.gallery::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Capa negra con 50% de opacidad */
}
