@import "../../theme/variables";

.gallery {
  @include section;
  background-image: url("../../assets/header-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(
    69,
    68,
    68,
    0.581
  ); /* Capa negra con 50% de opacidad */
}

.gallery-header {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Urbanist", sans-serif;
  color: $white;
  text-align: center;
  width: 65%;
  h1,
  h2,
  p {
    margin: 0;
    @include textSombra;
  }
  h1 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  p {
    font-family: "fredoka";
    margin-bottom: 50px;
  }
  button {
    font-family: "fredoka";
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background: none;
    color: $black;
    background: $white;
    padding: 15px 25px;
    border: 1px solid transparent;
    transition: 0.5s;
    &:hover {
      color: $white;
      background: transparent;
      border: 1px solid $white;
    }
  }
}
